<h2 class="container"> View Student Details </h2>
<div class="container">
    <div class="card" style="width: 18rem; background-color:aqua">
    <div>
        <label><b>Name: &nbsp;</b></label>{{student.studentName}}
    </div>

    <div>
        <label><b>Age: &nbsp;</b></label>{{student.studentAge}}
    </div>

    <div>
        <label><b>Gender: &nbsp;</b></label>{{student.studentGender}}
    </div>

    <div>
        <label><b>Marks: &nbsp;</b></label>{{student.marks}}
    </div>

    </div>
</div>
