<html>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a routerLink="/getStudent" routerLinkActive="active" class="nav-link">Student List</a>
                </li>
                <li class="navbar-item">
                  <a routerLink="/addStudent" routerLinkActive="active" class="nav-link">Add Student</a>
                </li>
            </ul>
        </nav>
        <br>
        <footer class="footer">
            <div class="foo">
                <span>All Rights Reserved 2022 @Sadhana</span>
            </div>
        </footer>
    </body>
</html>
<router-outlet></router-outlet>